body {
    padding: 0;
    margin: 0;
}

.outter {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.outter-div {
    width: 90%;
    margin-left: 5%;
}

.compiler-div {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    text-align: center;
}

.compiler-textarea {
    width: 100%;
    font-size: 14px;
    resize: none;
}

.console-div {
    display: inline-block;
    width: 45%;
    margin-left: 5%;
    text-align: center;
}

.console-textarea {
    width: 100%;
    font-size: 14px;
    resize: none;
}


.js-button {
    height: 34px;
    width: 80px;
    font-size: 14px;
}
.js-button:hover {
    background-color: grey;
    cursor: pointer;
}
